<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMC</title>
</head>
<body>
    <h1>Calculadora de IMC</h1>

    <form action="{% url 'imc' %}" method="POST">{% csrf_token %}
        Peso: <input type="number" step="0.01" name="peso">
        <br>
        Altura: <input type="number" step="0.01" name="altura">
        <br>
        <br>
        <input type="submit" value="Enviar">

    </form>
    
</body>
</html>